*{
	font-family: 'Raleway', sans-serif;
	margin : 0;
	padding : 0;
}

a{
	outline:none;
}

.navbar{
	background-color: white;
	height: 5vw;
}

.navbar.navbar-default {
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.navbar-brand{
	padding-top: 2vw;
	font-size: 3vw;
}


.title{
	font-size: 4vw;
	padding-top: 70px;
}

@media only screen and (max-width: 768px){
	.title{
		font-size: 10vw;
	}
}

.row{
	padding-top: 2vw;
	width: 100%;
}

.card{
	height:250px;
	width:250px;
	margin: 2vw;
	margin-left: 5vw;
	border-radius: 50%;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .5); 
}

button{
	padding-top: 5vw;
}

.button{
	height: 3vw;
	width: 10vw;
	outline: none;
	background-color: black;
	color: white;
	border: 1px solid black;
}

.button:hover{
	color: white;
	outline: none;
}

.board{
	display: none;
}

